/* main-color barista #eb503b */

.bv-logo--main {
  max-width: 50px;
}
.card-block {
  padding: 20px;
}
.custom-cards {
  margin: 20px 0;
}
.card {
  margin: 20px 0;
}

.scroll-anchor--top {
  background: #eb503b;
  border-radius: 3px;
  color: white;
  font-size: 25px;
  line-height: 1;
  padding: 5px 5px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateX(-50%);
}